body {
	font-family: garamond;
	margin: auto;
}

.container {
	display: grid;
	width: 100vw;
    height: 100vh;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(11, 1fr);
	background-color: pink;
}

button{
	height: 48px;
}


form {
	grid-area: 5 / 5 / 6 / 8;
	text-align: center;
}

#question {
	grid-area: 3 / 1 / 4 / 12;
	align-self: center;
	text-align: center;
	font-size: 70px;
}

#dropdown {
	/* font-size: 30px; */
	width: 250px;
}

#submit {
	grid-area: 6 / 6 / 7 / 7;
	align-self: center;
	text-align: center;
	width: 100px;
	margin: auto;
}

#pic {
	height: 200px;
	grid-area: 8 / 5 / 10 / 8;
	margin: auto;
	border-radius: 20px;
}

#quote {
	grid-area: 7 / 2 / 8 / 11;
	font-size: 20px;
	align-self: center;
	text-align: center;
}

#by {
	grid-area: 10 / 1 / 11 / 12;
	align-self: center;
	text-align: center;
}

