body {
	font-family: Helvetica;
	font-size: 48px;
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

button{
	height: 48px;
	vertical-align: middle;
}

#emoji {
	font-size: 48px;
}

form {
	display:inline;

}

#dropdown {
	width: 500px;
	font-size: 30px;
}

#pic {
	height: 200px;
}